.form-container{
    width: 100%;
    height:140vh;
    display: flex;
    justify-content: center;
    align-items:center;    
  }

.formCliente{
    background-color: white;
    border-radius: 10px;
    width: 70vw;
}

.formCliente h1{
    color: #3390E1;
}

.dados{
    display: flex;
    justify-content: space-around;
}
.tam{
    width: 32%;
}
.endereco{
    display: flex;
    justify-content: space-around;
    
}

.cep{
    width: 30%;
}
.end{
    width: 68%;
}


/* Cidades e Estados */

.nascimento{
    display: flex;
    justify-content: flex-start;
    
}


/* BUTTON */

.formCliente button{
    width: 20%;
}