.form-container{
    width: 100%;
    height:130vh;
    display: flex;
    justify-content: center;
    align-items:center;    
  }

.formCriarConta{
    background-color: white;
  
    border-radius: 10px;
    width: 50vw;
}

.formCriarConta h1{
    color:#3390E1;
}

.nomes{
    display: flex;
    justify-content: space-around;

}

.senhas{
    display: flex;
    justify-content: space-around;
}

.formCriarConta button{
    width: 30%;
}

#mudaLargura{
    width: 98%;
}